* {
    box-sizing: border-box;
}
/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* END BODY */

/* HEADER */
.header {
    padding: 60px;
    text-align: center;
    background-color: rgb(128, 0, 255);
    color: azure;
}
/* END HEADER */

/* BAR */
.bar {
    display: flex;
    background-color: rgb(62, 0, 124);
}
.bar a {
    color: azure;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}
.bar a:hover {
    background-color: rgb(135, 106, 164);
}

/* END BAR */

/* ROW */
.row {
    display: flex;
    flex-wrap: wrap;
}
.column1 {
    flex: 30%;
    background-color: rgb(179, 197, 255);
    padding: 20px;
}
.column2 {
    flex: 60%;
    background-color: rgb(76, 99, 176);
    padding: 20px;
}
.column1-image {
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    padding: 20px;
}
.column1-image2 {
    height: 70px;
    margin-bottom: 5px;
}
/* END ROW */

/* FOOTER */
.footer {
    padding: 30px;
    text-align: center;
    background-color: rgb(139, 159, 220);
}
/* END FOOTER */

@media screen and (max-width: 768px) {
    .header {
        background-color: rgb(41, 0, 60);
    }
}
@media screen and (max-width: 425px) {
    .bar,
    .row {
    flex-direction: column;
    }
    .header {
        padding: 30px;
    }
}